/** Add css rules here for your application. */
/** Add css rules here for your application. */
/** Redirect page. */
redirect {
	vertical-align: middle;
}

/** Example rules used by the template application (remove for your app) */
h1 {
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 10px;
	border: outset;
	font-size: 18em;
	font-weight: bold text-align: center;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: #990000;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.nistHeader {
	color: white;
	font-size: 6px;
	background-color: White;
}

.statusMessage {
	color: Yellow;
	background-color: Black;
}

.userStatus {
	color: Blue;
	padding-right: 10px;
	font-style: italic;
	font-weight: normal;
	background-color: White;
}

.nistLogo {
	color: White;
	font-size: 6px;
}

.headerPanel {
	color: white;
	margin-bottom: 100px;
}

.appsLabel {
	color: #333333;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 14px;
	font-weight: bold vertical-align: middle;
}

.logoTitle {
	color: Black;
	padding-top: 10px;
	font-size: 24px;
	font-weight: bold
}

.versionTitle {
	color: Black;
	font-size: 12px;
	font-weight: normal;
}

.none {
	
}

.logoVersion {
	color: white;
	font-size: 10px;
}

.atpTitle {
	color: white;
	padding-top: 15px;
	padding-right: 10px;
	font-size: 24px;
	font-weight: bold background-color: Black;
}

.atpVersion {
	
}

.errorDialogBox {
	color: #990000;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
}

errorMessage {
	color: #990000;
	font-size: 14px;
	font-weight: bold vertical-align: middle;
	text-align: center;
}

searchPanel {
	padding-bottom: 10px;
}

.searchPanel {
	padding-bottom: 20px;
}

.logOutButton {
	color: black;
	background-color: white;
}

.splitPanel {
	color: White;
	border: 1px #990000;
	background-color: White;
}

.atpMenuBar {
	color: Black;
	text-align: right;
	background-color: White;
}

.menuItem {
	padding-right: 30px;
}

.atpStatusLabel {
	color: Blue;
	padding-left: 5px;
}

.showAllPushButton {
	color: Navy;
	background-color: White;
}

.appListButtonPanel {
	border-top: White;
	border-right: White;
	border-bottom: white;
	border-left: White;
}

.appLogo {
	color: dimgray;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold
}

.appInfoHtml {
	border-top: thin;
	border-bottom: thin;
}

.appInfoButtonPanel {
	padding-bottom: 15px;
}

.appInfoScrollPanel {
	padding-bottom: 10px;
}

.AppInformationLabeledPanel {
	padding-bottom: 10px;
}

.analysisResultsLabeledPanel {
	color: Black;
	background-color: Maroon;
}

.appLogoError {
	color: #990000;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold
}

.appLogoEndorsed {
	color: Green;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold
}

.appLogoWarning {
	color: #ff6600;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold
}

#appNameInfo {
	color: darkslategray;
	padding-bottom: 5px;
	font-size: 28px;
	font-weight: bold
}

#appInfoSectionHeader {
	background-color: #E6E6E6;
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	/* 	padding-top: 5px; */
/* 	padding-botton: 5px; */
/* 	vertical-align: middle; */
}

.appInfoRow {
	vertical-align: middle;
	background-color: #CEF6F5;
}

.toolimages {
	vertical-align: middle;
	height: 18px;
	width: 18px;
	margin-left: 5px;
	margin-right: 5px;
}

#tableitemgood {
	text-align: left;
	color: green;
	font-size: 12px
}

#tableitemwarning {
	text-align: left;
	color: orange;
	font-size: 12px
}

.tableitembad {
	text-align: left;
	color: #990000;
	font-size: 12px
}

#tableitemdimmed {
	text-align: left;
	color: gray;
	font-size: 12px
}

.gwt-FileUpload {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	vertical-align: middle;
}

.apkZipUploadLabel {
	padding-right: 10px;
}

.gwt-MenuItem {
	color: darkslategray;
	padding-right: 5px;
	border: 1px solid White;
	font-size: 14px;
}

.statusLabel {
	color: Blue;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

.uploadPanel {
	padding-top: 10px;
	padding-bottom: 10px;
}

.appUpload {
	margin-bottom: 10px;
	margin-left: 5px;
}

.maliciousCheckBox {
	
}

.horizontalTaReleasePanel {
	padding-top: 5px;
	padding-bottom: 5px;
}

.uploadLabel {
	color: darkslategray;
}

.taReleaseCheckBox {
	margin-right: 10px;
}

.infoDialogBox {
	color: black;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
}

.submissionRequirementsLabel {
	color: blue;
	border: solid White;
	font-size: 12px;
}

.SeeHelpSubmissionRequirements {
	color: Blue;
	font-size: 12px;
}

.appInfoName {
	color: darkslategray;
	margin-left: 10px;
	font-weight: bold font-size: 24px;
}

.appInfoVersion {
	color: darkslategray;
	margin-left: 10px;
	font-size: 14px;
}

.moreInfo {
	color: Blue;
	padding-left: 5px;
	font-size: 12px;
	cursor: pointer;
	cursor: hand;
}

.testReportsPanel {
	padding-top: 5px;
	padding-bottom: 5px;
}

.footNote {
	font-size: 10px;
}

.resultsScrollPanel {
	color: darkslategray;
	padding-top: 10px;
	padding-bottom: 2px;
	border-top: 1px solid darkslategray;
	border-right: 0px darkslategray;
	border-bottom: 0px darkslategray;
	border-left: 0px darkslategray;
}

.iconPanel {
	color: darkslategray;
	margin-top: 5px;
	margin-bottom: 10px;
}

.resultsPanel {
	border: 1px solid Black;
}

.dataGrid {
	color: darkslategray;
	border-top: solid Silver;
	border-right: Silver;
	border-bottom: solid Silver;
	border-left: Silver;
}

.resultScrollPanel {
	padding: 5px;
	border-top: 1px darkslategray;
	border-right: 0px darkslategray;
	border-bottom: 0px darkslategray;
	border-left: 0px darkslategray;
}

.appInfoDialogCloseButton {
	padding-top: 5px;
	padding-bottom: 5px;
}

.appInfoDialogScrollPanel {
	border: 1px solid grey;
}

.inCollaborationWithLabel {
	padding-right: 5px;
	font-size: 10px;
	font-style: italic;
}

.devModeIndicator {
	color: #990000;
}

.deleteConfirmDialog {
	color: #990000;
	font-size: 16px;
}



.seeLogTxt {
	color: darkslategray;
	margin-left: 5px;
	border: 1px dashed Green;
	font-size: 11px;
}

.buttonPanelStyle {
	margin-bottom: 10px;
	padding-top: 10px;
	border: 0px solid Silver;
}

.cancelOkButtonStyle {
	margin-right: 5px;
	margin-left: 5px;
}

.loginPanel {
	margin-left: auto;
	margin-right: auto;
}

.statusPanel {
	
}

.mainHeaderPanel {
	border: 1px solid Silver;
}

.atpMainImage {
	margin: 5px 20px 5px 5px;
}

.AppsLabel {
	color: darkslategray;
	margin-left: 5px;
	font-weight: bold;
	font-size: 16px;
}

.searchTextBox {
	color: Gray;
	margin-right: 2px;
	padding-left: 5px;
	border: 1px solid Silver;
}

.atpButton {
	color: darkslategray;
	border: 1px solid darkslategray;
}

.mainDockPanel {
	
}

.leftAtpPanel {
	border: 1px solid Silver;
}

.rightSimplePanel {
	border: 1px dotted Green;
}

.userMenuBar {
	color: White;
}

.gwt-MenuBar gwt-MenuBar-vertical {
	
}

.buttonPanel {
	margin-top: 10px;
	margin-bottom: 5px;
	border: 0px;
}

.gwt-Button {
	color: darkslategray;
	background-color: White;
}

.gwt-InlineHTML {
	padding: 5px;
}

.gwt-Image {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.taLogo {
	
}

.loginTaLogo {
	padding: 5px;
}

.mainTaLogo {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.northAtpPanel {
	
}

.atpHeaderPanel {
	padding: 5px;
	border: 1px solid Silver;
}

.AccountMenuItem {
	color: Blue;
	padding-right: 5px;
	border: 1px solid White;
	font-size: 14px;
	font-style: italic;
}

.appsGrid {
	color: darkslategray;
}

.appListTable {
	color: darkslategray;
	border: 1px Blue;
}

.imageHref {
	padding: 10px;
}

.verticalPanel {
	
}

.footerPanel {
	padding-bottom: 5px;
	border: solid White;
}

.contactUs {
	color: darkslategray;
	font-size: 10px;
}

.lastUpdated {
	color: darkslategray;
	font-size: 10px;
}

.pushButtonPanel {
	border: 0px outset White;
}

.logoPanel {
	margin: 5px;
}

.outsetPanel {
	color: Silver;
}

.insetPanel {
	color: White;
	padding: 5px;
	border: 1px solid Silver;
}

.gwt-Label {
	color: Black;
	border: solid White;
	vertical-align: middle;
	text-align: center;
}

.appUploadPanel {
	
}

.submitAppButton {
	margin-top: 10px;
}

.taReleaseKitTextBox {
	margin-right: 5px;
}

.reportUploadPanel {
	margin: 5px;
	border: 1px solid Silver;
}

.reportUploadLabel {
	margin-left: 8px;
}

.reportUploadButtonPanel {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.reportUploadWidget {
	
}

.submitAppLabel {
	color: Blue;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0px solid White;
}

.grid {
	margin: 5px;
	border-top: solid White;
	border-right: solid White;
	border-bottom: 1px solid White;
	border-left: solid White;
}

.disclaimer {
	padding: 5px;
	border: 1px solid Silver;
}

.downloadPanel {
	color: darkslategray;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
	border: 1px solid Silver;
}

.usersList {
	margin: 5px 5px 20px;
	border: 1px solid Silver;
}

.userSearch {
	margin: 5px;
}

.usersTable {
	color: darkslategray;
	border: 1px solid Silver;
}

.usersGrid {
	color: darkslategray;
	border: 1px solid Silver;
}

.deleteScroll {
	border: 1px solid Silver;
}

.usersCenterPanel {
	margin: 5px;
}

.footNoteAnnotation {
	color: blue;
	font-size: x-small;
}

.usersDockPanel {
	border: 1px solid Silver;
}

.usersHorizPanel {
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid Silver;
}

.messageDialogPanel {
	border: 1px solid Silver;
	vertical-align: middle;
}

.messageDialogLabel {
	margin-top: 40px;
	margin-bottom: 40px;
	border: solid White;
	vertical-align: middle;
}

.messageLabel {
	
}

.messagePanel {
	padding-bottom: 10px;
	border: 1px solid Silver;
}

.checkBox {
	margin-right: 10px;
}

.fusePanel {
	border: solid Silver;
}

.fuseLabel {
	border: solid White;
	font-size: 10px;
}

.loginButton {
	margin: 10px;
}

.dockLayoutPanel {
	padding: 10px;
}

.
{
border-top
:
 
1
px
 
solid
 
Background
;

	
border-right
:
 
1
px
 
solid
 
Maroon
;

	
border-bottom
:
 
1
px
 
solid
 
Maroon
;

	
border-left
:
 
1
px
 
solid
 
Maroon
;


}
.appInfoHtml2 {
	border: 1px dashed #990000;
}

.eastDockPanel {
	border: 1px dashed #990000;
}

.leftCenterPanel {
	border-top: solid Silver;
	border-right: 1px solid Silver;
	border-bottom: solid Silver;
	border-left: solid Silver;
}

.appFunctionButtonPanel {
	
}

.centerAtpSplitPanel {
	border: 1px solid Silver;
}

.toolResultsHtml {
	margin-left: 5px;
}

.rightCenterPanel {
	border-top: solid Silver;
	border-right: solid Silver;
	border-bottom: solid Silver;
	border-left: 1px solid Silver;
}

.gwt-HorizontalSplitPanel {
	border: 1px solid Silver;
}

.gwt-DecoratorPanel {
	padding-top: 5px;
	padding-bottom: 5px;
}

.userFormPanel {
	margin: 5px;
	padding: 5px;
	border: 1px solid Silver;
}

.mavPanelLogo {
	
}

.mavHeaderPanel {
	padding: 2px;
	border: 1px solid Silver;
}

.aboutDialogButtonPanel {
	padding-bottom: 10px;
}

.loginPanelLogo {
	margin-top: 15px;
}

.appVetHeaderPanel {
	border-bottom: 1px solid Silver;
}

.nistLoginLogo {
	margin: 5px;
}

.appInfoDecoratePanel {
	margin-top: 5px;
}

.gwt-StatusLabel {
	color: Blue;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.AppVetPushButton {
	cursor: hand;
	cursor: pointer;
}

.statusError {
	color: #990000;
	font-weight: bold;
}

.statusOk {
	color: #0000ff;
	font-weight: bold;
}

.statusWarning {
	color: #cc6633;
	font-weight: bold;
}

.appvetTextArea {
	margin-right: 5px;
}

.hovertable tr:hover {
	background: #F2F2F2;
}

.gwt-PushButton {
	color: darkslategrey;
	background: white;
}
.gwt-HTML {
	margin-left: 5px;
color: darkslategrey;
}
.appVetMenuBar {
}