/** Add css rules here for your application. */
/** Add css rules here for your application. */
/** Redirect page. */
/* redirect {
	vertical-align: middle;
} */
/* .backgroundImage {
	background-image: url("images/black_white_background_photo.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	background-size: cover;
} */
/** Example rules used by the template application (remove for your app) */
h1 {
	border: none;
}
/* h1 { */
/* 	margin-right: 5px; */
/* 	margin-left: 5px; */
/* 	border: outset; */
/* 	font-size: 18em; */
/* 	font-weight: bold text-align: center; */
/* } */
/* h3 { */
/* 	margin-top: 0px; */
/* 	margin-bottom: 0px; */
/* } */
h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

th {
	color: red;
	background: blue;
	text-align: left;
	width: 100%;
}

/* .sendButton {
	background: white;
	display: block;
	font-size: 16pt;
} */
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
}

.dialogVPanel {
	margin: 5px;
	color: black;
}

/* .serverResponseLabelError {
	color: #990000;
} */
/** Set ids using widget.getElement().setId("idOfElement") */
/* #closeButton {
	margin: 15px 6px 6px;
} */
/* .nistHeader {
	color: white;
	font-size: 6px;
	background-color: White;
} */
.userStatus {
	color: Blue;
	padding-right: 10px;
	font-style: italic;
	font-weight: normal;
	background-color: White;
}

.nistLogo {
	margin-left: 10px;
}

.headerPanel {
	color: white;
	margin-bottom: 100px;
}

.logoTitle {
	color: Black;
	padding-top: 10px;
	font-size: 24px;
	font-weight: bold
}

.versionTitle {
	color: Black;
	font-size: 12px;
	font-weight: normal;
}

.none {
	
}

.logoVersion {
	color: white;
	font-size: 10px;
}

.atpTitle {
	color: white;
	padding-top: 15px;
	padding-right: 10px;
	font-size: 24px;
	font-weight: bold background-color: Black;
}

.atpVersion {
	
}

.errorDialogBox {
	color: #990000;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
}

errorMessage {
	color: #990000;
	font-size: 14px;
	font-weight: bold vertical-align: middle;
	text-align: center;
}

searchPanel {
	padding-bottom: 10px;
}

.searchPanel {
	padding-bottom: 20px;
}

.logOutButton {
	color: black;
	background-color: white;
}

.splitPanel {
	color: White;
	border: 1px #990000;
	background-color: White;
}

.atpMenuBar {
	color: Black;
	text-align: right;
	background-color: White;
}

.menuItem {
	padding-right: 30px;
}

.atpStatusLabel {
	color: Blue;
	padding-left: 5px;
}

.showAllPushButton {
	color: Navy;
	background-color: White;
}


.appLogo {
	color: dimgray;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold
}

.appInfoHtml {
	border-top: thin;
	border-bottom: thin;
}

.appInfoButtonPanel {
	padding-bottom: 15px;
}

.appInfoScrollPanel {
	padding-left: 10px;
}

.AppInformationLabeledPanel {
	padding-bottom: 10px;
}

.analysisResultsLabeledPanel {
	color: Black;
	background-color: Maroon;
}

.appLogoError {
	color: #990000;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold
}

.appLogoEndorsed {
	color: Green;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold
}

.appLogoWarning {
	color: #ff6600;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold
}

#appNameInfo {
	color: darkslategray;
	padding-bottom: 5px;
	font-size: 32px;
	font-weight: bold
}

.appInfoRow {
	vertical-align: middle;
	background-color: #CEF6F5;
}

.toolimages {
	vertical-align: middle;
	height: 18px;
	width: 18px;
	margin-left: 5px;
	margin-right: 5px;
}

#tableitemgood {
	text-align: left;
	color: green;
	font-size: 12px
}

#tableitemwarning {
	text-align: left;
	color: orange;
	font-size: 12px
}

.tableitembad {
	text-align: left;
	color: #990000;
	font-size: 12px
}

#tableitemdimmed {
	text-align: left;
	color: gray;
	font-size: 12px
}

.gwt-FileUpload {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	vertical-align: middle;
}

.apkZipUploadLabel {
	padding-right: 10px;
}

.gwt-MenuItem {
	color: darkslategray;
	background: #015289;
	font-size: 14px;
}

.gwt-MenuItem:hover {
	background: #002e4c;
}

.gwt-MenuItem:focus {
	color: #002e4c;
}

.statusLabel {
	color: Blue;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

.uploadPanel {
	padding-top: 10px;
	padding-bottom: 10px;
}

.appUpload {
	margin-bottom: 10px;
	margin-left: 5px;
}

.maliciousCheckBox {
	
}

.horizontalTaReleasePanel {
	padding-top: 5px;
	padding-bottom: 5px;
}

.uploadLabel {
	color: darkslategray;
}

.taReleaseCheckBox {
	margin-right: 10px;
}

.infoDialogBox {
	color: Black;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
}

.submissionRequirementsLabel {
	background: White;
	color: blue;
	border: solid White;
	font-size: 12px;
}

.SeeHelpSubmissionRequirements {
	color: Blue;
	font-size: 12px;
}

.appInfoName {
	color: darkslategray;
	font-weight: bold;
	font-size: 26px;
}
.appInfo {
	margin-left: 5px;
}
.appInfoVersion {
	color: darkslategrey;
	font-style: italic;
	font-size: 14px;
}
.appInfoStatus {
	color: darkslategrey;
	font-size: 16px;
}
.moreInfo {
	color: Blue;
	padding-left: 5px;
	font-size: 12px;
	cursor: pointer;
	cursor: hand;
}

.testReportsPanel {
	padding-top: 5px;
	padding-bottom: 5px;
}

.footNote {
	font-size: 10px;
}

.resultsScrollPanel {
	color: darkslategray;
	padding-top: 10px;
	padding-bottom: 2px;
	border-top: 1px solid darkslategray;
	border-right: 0px darkslategray;
	border-bottom: 0px darkslategray;
	border-left: 0px darkslategray;
}

.iconPanel {
	color: darkslategray;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.resultsPanel {
	border: 1px solid Black;
}

.dataGrid {
	color: darkslategray;
	border: Silver;
}

.resultScrollPanel {
	padding: 5px;
	border-top: 1px darkslategray;
	border-right: 0px darkslategray;
	border-bottom: 0px darkslategray;
	border-left: 0px darkslategray;
}

.appInfoDialogCloseButton {
	padding-top: 5px;
	padding-bottom: 5px;
}

.appInfoDialogScrollPanel {
	border: 1px solid grey;
}

.inCollaborationWithLabel {
	padding-right: 5px;
	font-size: 10px;
	font-style: italic;
}

.devModeIndicator {
	color: #990000;
}

.deleteConfirmDialog {
	color: #990000;
	font-size: 16px;
}

.seeLogTxt {
	color: darkslategray;
	margin-left: 5px;
	border: 1px dashed Green;
	font-size: 11px;
}

.buttonPanelStyle {
	margin-bottom: 10px;
	padding-top: 10px;
	border: 0px solid Silver;
}

.cancelOkButtonStyle {
	margin-right: 5px;
	margin-left: 5px;
}

.loginPanel {
	margin-left: auto;
	margin-right: auto;
}

.statusPanel {
	
}

.mainHeaderPanel {
	border: 1px solid Silver;
}

.atpMainImage {
	margin: 5px 20px 5px 5px;
}

.searchTextBox {
	color: Gray;
	margin-right: 2px;
	padding-left: 5px;
	border: 1px solid Silver;
}

.atpButton {
	color: darkslategray;
	border: 1px solid darkslategray;
}

.mainDockPanel {
	
}

.leftAtpPanel {
	border: 1px solid Silver;
}

.rightSimplePanel {
	border: 1px dotted Green;
}

.gwt-MenuBar {
	
}

.buttonPanel {
	background: white;
	margin-top: 10px;
	margin-bottom: 5px;
	border: 0px;
}

.gwt-Button {
	color: darkslategray;
	background-color: White;
}

.gwt-InlineHTML {
	padding: 5px;
}

.gwt-Image {
	margin-right: 5px;
	margin-left: 5px;
}

.taLogo {
	
}

.loginTaLogo {
	padding: 5px;
}

.mainTaLogo {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.northAtpPanel {
	
}

.atpHeaderPanel {
	padding: 5px;
	border: 1px solid Silver;
}

.AccountMenuItem {
	position: absolute;
	right: 0px;
	background-image: images/delete-app-up-hover.png;
}

.appsGrid {
	color: darkslategray;
}

.appListTable {
	color: darkslategray;
	border: 1px Blue;
}

.imageHref {
	padding: 10px;
}

.verticalPanel {
	
}

.footerPanel {
	padding-bottom: 5px;
	border: solid White;
}

.contactUs {
	color: darkslategray;
	font-size: 10px;
}

.lastUpdated {
	color: darkslategray;
	font-size: 10px;
}

.pushButtonPanel {
	border: 0px outset White;
}

.logoPanel {
	margin: 5px;
}

.outsetPanel {
	color: Silver;
}

.insetPanel {
	color: #015289;
	padding: 5px;
}

.gwt-Label {
	background: White;
	color: Black;
	border: solid White;
	vertical-align: middle;
	text-align: center;
}

.appUploadPanel {
	
}

.submitAppButton {
	margin-top: 10px;
}

.taReleaseKitTextBox {
	margin-right: 5px;
}

.reportUploadPanel {
	margin: 5px;
	border: 1px solid Silver;
}

.reportUploadLabel {
	margin-left: 8px;
}

.reportUploadButtonPanel {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.reportUploadWidget {
	
}

.submitAppLabel {
	color: Blue;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0px solid White;
}

.grid {
	margin: 5px;
	border-top: solid White;
	border-right: solid White;
	border-bottom: 1px solid White;
	border-left: solid White;
}

.disclaimer {
	padding: 5px;
	border: 1px solid Silver;
}

.downloadPanel {
	color: darkslategray;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
	border: 1px solid Silver;
}

.usersList {
	margin: 5px 5px 20px;
	border: 1px solid Silver;
}

.userSearch {
	margin: 5px;
}

.usersTable {
	color: darkslategray;
	border: 1px solid Silver;
}

.usersGrid {
	color: darkslategray;
	border: 1px solid Silver;
}

.deleteScroll {
	border: 1px solid Silver;
}

.usersCenterPanel {
	margin: 5px;
}

.footNoteAnnotation {
	color: blue;
	font-size: x-small;
}

.usersDockPanel {
	border: 1px solid Silver;
}

.usersHorizPanel {
	margin-bottom: 5px;
	padding: 5px;
}

.messageDialogPanel {
	border: 1px solid Silver;
	vertical-align: middle;
}

.messageDialogLabel {
	margin-top: 40px;
	margin-bottom: 40px;
	border: solid White;
	vertical-align: middle;
}

.messageLabel {
	
}

.messagePanel {
	color: Black;
	padding-bottom: 10px;
	border: 1px solid Silver;
}

.checkBox {
	margin-right: 10px;
}

.fusePanel {
	border: solid Silver;
}

.fuseLabel {
	border: solid White;
	font-size: 10px;
}

.loginButton {
	margin: 10px;
}

.dockLayoutPanel {
	padding: 10px;
}

.
{
	
	
	
	margin-right: 5px;
	margin-left: 5px;
	border: white;
	background-color: White;



	
	
	



}
.appInfoHtml2 {
	border: 1px dashed #990000;
}

.eastDockPanel {
	border: 1px dashed #990000;
}

.appFunctionButtonPanel {
	
}

.centerAtpSplitPanel {
	border: 1px solid Silver;
}

.toolResultsHtml {
	margin-left: 5px;
}

.gwt-HorizontalSplitPanel {
	border: 1px solid Silver;
}

.gwt-DecoratorPanel {
	padding-top: 5px;
	padding-bottom: 5px;
}

.userFormPanel {
	margin: 5px;
	padding: 5px;
	border: 1px solid Silver;
}

.mavPanelLogo {
	
}

.mavHeaderPanel {
	padding: 2px;
	border: 1px solid Silver;
}

.aboutDialogButtonPanel {
	background: #015289;
	color: White;
}

.loginPanelLogo {
	margin-top: 15px;
}

.appVetHeaderPanel {
	border-bottom: 1px solid Silver;
}

.nistLoginLogo {
	margin: 5px;
}

.appInfoDecoratePanel {
	margin-top: 5px;
}

.gwt-StatusLabel {
	color: Blue;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.AppVetPushButton {
	cursor: hand;
	cursor: pointer;
}

.statusError {
	color: #990000;
	font-weight: bold;
}

.statusOk {
	color: #0000ff;
	font-weight: bold;
}

.statusWarning {
	color: #cc6633;
	font-weight: bold;
}

.hovertable tr:hover {
	background: #F2F2F2;
}

.gwt-PushButton {
	color: darkslategrey;
	background: white;
}

.gwt-HTML {
	color: darkslategrey;
}

.appVetMenuBar {
	
}

.transparentFullPanel {
	z-index: 2;
	opacity: 0;
}

.transparentHalfPanel {
	z-index: 2;
	opacity: 0.5;
}

.transparentNonePanel {
	z-index: 2;
	opacity: 1;
	background-color: White;
}

.transparent90Panel {
	z-index: 2;
	opacity: .9;
	border: 1px solid Silver;
}

.myButtonTest {
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d),
		to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 6.5px 13px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
}

.myButtonTest:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}

.myButtonTest:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

.accountMenuItem {
	position: absolute;
	right: 0px;
}

.accountMenuItem:hover {
	color: red;
	background: green;
}

.helpMenuItem {
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.bottomPanel {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
}

/*-------------- App List Button Panel ------------------*/
.appListButtonPanel {
	border-top: 1px;
	border-right: 1px;
	border-bottom: 1px black;
	border-left: 1px;
}

#appsHeader {
	color: darkslategrey;
	font-size: 16px;
	margin: 0px;
}

/*-------------- App Info Section ------------------*/
#appInfoSectionHeader {
	background: #f2f2f2;
	color: black;
	font: Sans-Serif;
	font-size: 14px;
	font-weight: normal;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.50);
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.50);
}

/*-------------- User Menu ------------------*/
/* User Menu Item */
.userMenuItem {
	background: #015289;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.userMenuItem:hover {
	background: #0189e4;
}

.userMenuItem:focus {
	background: #0189e4;
}

.userMenuBar {
	width: 110px;
	position: absolute;
	right: 0px;
	top: -5px;
	cursor: default;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
	color: white;
	background: white;
}

.userSubMenuItem {
	color: #015289;
	background: white;
}

.userSubMenuItem:hover {
	color: white;
	background: #015289;
}

.userSubMenuItem:focus {
	color: white;
	background: #015289;
}
/*-------------- Help Menu ------------------*/
.helpMenuItem {
	background: #015289;
}

.helpMenuItem:hover {
	background: #0189e4;
}

.helpMenuItem:focus {
	background: #0189e4;
}

.helpMenuBar {
	width: 94px;
	position: absolute;
	right: 0px;
	top: -5px;
	cursor: default;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
	color: white;
	background: white;
}

.helpSubMenuItem {
	color: #015289;
	background: white;
}

.helpSubMenuItem:hover {
	color: white;
	background: #015289;
}

.helpSubMenuItem:focus {
	color: #015289;
}

/*-------------- Admin Menu ------------------*/
.adminMenuItem {
	background: #015289;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.adminMenuItem:hover {
	background: #0189e4;
}

.adminMenuItem:focus {
	background: #0189e4;
}

.adminMenuBar {
	width: 140px;
	position: absolute;
	right: 0px;
	top: -5px;
	cursor: default;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
	color: white;
	background: white;
}

.adminSubMenuItem {
	color: #015289;
	background: white;
}

.adminSubMenuItem:hover {
	color: white;
	background: #015289;
}

.adminSubMenuItem:focus {
	color: white;
	background: #015289;
}

/*-------------- Apps Label ------------------*/
.appsLabel {
	color: black;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: 500;
	font-size: 14px;
	font-family: Sans-Serif;
}

/*-------------- Menu Item Separator ------------------*/
.gwt-MenuItemSeparator {
	width: 1px;
	background: white;
	margin: 0px;
	padding: 0px;
	background-color: #808080;
}

/*-------------- Search Button ------------------*/
.searchButton {
	background: #015289;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 14px;
}

.searchButton:hover {
	color: white;
	background: #0189e4;
}

.searchButton:focus {
	background: #0189e4;
}

/*---------------------- For ALL buttons ----------------------*/
/* FOR ALL BUTTONS, USE THE FOLLOWING GWT SYNTAX FOR BUTTON EVENTS:
   gwt-PushButton-up,gwt-PushButton-up-hovering,gwt-PushButton-up-disabled,
   gwt-PushButton-down,.gwt-PushButton-down-hovering,.gwt-PushButton-down-disabled
*/

.shadow {
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

/*---------------------- Gray Dialog Buttons ----------------------*/
.grayButton {
	color: black;
	background: #e9edef;
	vertical-align: middle;
	padding: 3px 0px 3px 0px;
	cursor: pointer; 
}
.grayButton-up-hovering {
	background: #f7f8f9;
}
.grayButton-down-hovering {
	background: #f7f8f9;
}
.grayButton-up-disabled {
	color: gray;
	background: #f7f8f9;
	cursor: not-allowed !important;
}
.grayButton-down-disabled {
	color: gray;
	background: #f7f8f9;
	cursor: not-allowed !important;
}
/*---------------------- Green Dialog buttons ----------------------*/
.greenButton {
	color: white;
	background: #26714b;
	vertical-align: middle;
	padding: 3px 0px 3px 0px;
	cursor: pointer; 
}
.greenButton-up-hovering {
	background: #3aaf75;
}
.greenButton-down-hovering {
	background: #3aaf75;
}
.greenButton-up-disabled {
	background: #b4e7cd;
	cursor: not-allowed !important;
}
.greenButton-down-disabled {
	background: #b4e7cd;
	cursor: not-allowed !important;
}
/*---------------------- Green App Upload buttons ----------------------*/
/*    gwt-PushButton-up,gwt-PushButton-up-hovering,gwt-PushButton-up-disabled,
   gwt-PushButton-down,.gwt-PushButton-down-hovering,.gwt-PushButton-down-disabled */
   
.greenAppUploadButton {
	background: #26714b;
	color: white;
	font-family: Sans-Serif;
	font-weight: bold;
	margin: 6px 6px 6px 0px;
	padding: 5px 0px 5px 0px;
	vertical-align: middle;
}
.greenAppUploadButton-up-hovering {
	cursor: pointer; 
}
.greenAppUploadButton-down-hovering {
	background: #76d1a4;
	cursor: pointer; 
}
.greenAppUploadButton-up-disabled {
	background: #b4e7cd;
	cursor: not-allowed !important;
}
.greenAppUploadButton-down-disabled {
	background: #b4e7cd;
	cursor: not-allowed !important;
}
/*---------------------- Blue buttons ----------------------*/
.blueButton {
	font-family: Sans-Serif;
	color: white;
	background: #015289;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 3px 0px 3px 0px;
	vertical-align: middle;
}
.blueButton-up-hovering {
	cursor: pointer; 
}
.blueButton-down-hovering {
	background: #059afe;
	cursor: pointer; 
}
.blueButton-up-disabled {
	background: #d2edff;
	cursor: not-allowed !important;
}
.blueButton-down-disabled {
	background: #d2edff;
	cursor: not-allowed !important;
}

/*---------------------- Main Banner ----------------------*/
.mainBanner {
	background: #015289;
}

/*---------------------- Status Message Text Area ----------------------*/
.statusMessage {
	vertical-align: middle;
	color: black;
	font-family: Sans-Serif;
	font-weight: bold;
}
/*---------------------- Left Center Panel ----------------------*/
.leftCenterPanel {
	border-top: 1px solid #d9e1e4;
	border-right: 1px solid #d9e1e4;
}
/*---------------------- Right Center Panel ----------------------*/
.rightCenterPanel {
	border-top: 1px solid #d9e1e4;
}
/*---------------------- South Center Panel ----------------------*/
.southPanel {
	border-top: 1px solid #d9e1e4;

/*---------------------- About Panel ----------------------*/
.aboutPanel {
	background: #015289 !important;
}
.appIconHtml {
	margin-left: 10px;
}

.gwt-DialogBox .dialogContent {
	background: #015289 !important;
}

.aboutPanel {
	background: blue;
}

.aboutDialog {
	background: #015289;
}

.dialogContent {
	background: red;
}

.aboutDialogPanel {
	
}

.grayButton shadow {
	
}

.greenButton shadow {
	
}
.aboutDialogVersion {
	color: White;
	border: solid White;
	vertical-align: middle;
	text-align: center;
}
.appStatusInfo {
	color: darkslategray;
	font-size: 14px;
}
#highStatus {
	color: red;
}
#moderateStatus {
	color: orange;
}
#lowStatus {
	color: green;
}
#naStatus {
	color: gray;
}
#normalStatus {
	color: black;
}
.appStatusPanel {
margin-left: 10px;
}
.appvetRadioButton {
	padding-left: 20px;
}
.bluebutton shadow {
}
.blueButton shadow {
}
.bottomHorizPanel {
	margin-right: 5px;
	margin-left: 5px;
}










