html *
{
   font-family: Arial;
}

h1 {
	color: #707070;
	font-family: arial;
	font-size: 42px;
}

h2 {
	color: blue;
	font-family: arial;
	font-size: 38px;
}

h3 {
	color: blue;
	font-family: arial;
	font-size: 32px;
}

h4 {
	color: blue;
	font-family: arial;
	font-size: 28px;
}

a:link {
    text-decoration: none;
}

